.save {
	@include shadow;
	height: 43px;
	flex-grow: 1;
	border-radius: 7px;
	color: $white;
	background-color: $secondary-light;
	cursor: pointer;

	body.dark-mode & {
		@include shadow-dark;
		background-color: $secondary-dark;
	}
}

.reset {
	@include image($reset, 23px, 23px);
	@include shadow;
	background-color: $white;

	width: 43px;
	height: 43px;
	border-radius: 7px;
	cursor: pointer;

	body.dark-mode & {
		@include shadow-dark;
		color: $secondary-dark;
		background-color: $background-dark;
	}
}
