.option-menu {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;

	&-wrap {
		@include shadow;
		width: 74px;
		height: 55px;

		display: flex;
		flex-direction: column;
		position: absolute;

		background-color: $white;
		border: 1px solid $gray03;
		border-radius: 7px;

		button {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			color: $gray01;

			.edit-icon {
				@include image($edit, 18px, 18px, inline-block);
			}

			.delete-icon {
				@include image($delete, 18px, 18px, inline-block);
			}
		}
	}

	&-edit {
		border-bottom: 1px solid $gray03;
	}

	body.dark-mode & {
		&-wrap {
			@include shadow-dark;
			background-color: $background-dark;
			border: 1px solid $gray04;

			button {
				color: $white;

				.edit-icon {
					@include image($edit-dark, 18px, 18px, inline-block);
				}

				.delete-icon {
					@include image($delete-dark, 18px, 18px, inline-block);
				}
			}
		}

		&-edit {
			border-bottom: 1px solid $gray04;
		}
	}
}
