.settings-modal {
	@include modal;

	&.active {
		display: flex;
		opacity: 1;
	}

	&-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 230px;
		overflow: visible;

		padding: 18px 17px 16px;
		background-color: $white;
		border-radius: 7px;

		.settings-upper {
			display: flex;
			width: 100%;
			align-items: center;
		}

		.settings-icon {
			@include image($settings-circle, 32px, 32px, block);
		}

		.title-wrap {
			flex-grow: 1;

			.title {
				font-weight: 800;
				margin-bottom: 8px;
			}

			.description {
				font-weight: 300;
				font-size: 10px;
			}
		}

		.settings-key-input {
			width: 100%;
			margin: 24px 0;
		}

		.button-wrap {
			display: flex;
			gap: 12px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 98px;
				height: 36px;
				border-radius: 7px;
				font-weight: 700;
			}

			.save {
				background-color: $secondary-light;
				color: $white;
				box-shadow: none;
			}

			.cancel {
				background-color: $white;
				border: 1px solid $secondary-light;
				color: $secondary-light;
			}
		}
	}

	body.dark-mode & {
		background-color: rgba(0, 0, 0, 0.6);

		&-content {
			background-color: $background-dark;
			color: $white;

			.settings-icon {
				@include image($settings-circle-dark, 32px, 32px, block);
			}

			.button-wrap {
				.delete {
					background-color: $secondary-dark;
				}

				.cancel {
					background-color: $background-dark;
					color: $secondary-dark;
				}
			}
		}
	}
}
