$gray01: #696969;
$gray02: #7f7f7f;
$gray03: #a2a2a2;
$gray04: #ccc;
$gray05: #e9e9e9;
$white: #fff;

$primary-light: #04f;
$secondary-light: #517fff;
$header-light: #f8fbff;
$alert: rgba(64, 64, 64, 0.8);

$background-dark: #404040;
$primary-dark: #7297ff;
$secondary-dark: #5773bf;
$header-dark: #202027;
$alert-dark: rgba(255, 255, 255, 0.8);

$red: #fe6a6a;
$purple: #5b5b8f;
$yellow: #ebaf48;

$path-image: '../images/';

:root {
	--background-dark: 64, 64, 64;
	--background-white: 255, 255, 255;
}
