$logo-light: #{$path-image}#{'logo-light.svg'};
$logo-dark: #{$path-image}#{'logo-dark.svg'};
$chat-bubble: #{$path-image}#{'chat-bubble.svg'};
$check-box-blank: #{$path-image}#{'check-box-blank.svg'};
$check-box: #{$path-image}#{'check-box.svg'};
$check: #{$path-image}#{'check.svg'};
$dark-mode: #{$path-image}#{'dark-mode.svg'};
$delete: #{$path-image}#{'delete.svg'};
$edit: #{$path-image}#{'edit.svg'};
$go-back: #{$path-image}#{'go-back.svg'};
$light-mode: #{$path-image}#{'light-mode.svg'};
$reset: #{$path-image}#{'reset.svg'};
$three-dots: #{$path-image}#{'three-dots.svg'};
$plus: #{$path-image}#{'plus.svg'};
