$logo-light: #{$path-image}#{'logo-light.svg'};
$logo-dark: #{$path-image}#{'logo-dark.svg'};
$chat-bubble: #{$path-image}#{'chat-bubble.svg'};
$check-box-blank: #{$path-image}#{'check-box-blank.svg'};
$check-box: #{$path-image}#{'check-box.svg'};
$check: #{$path-image}#{'check.svg'};
$dark-mode: #{$path-image}#{'dark-mode.svg'};
$delete: #{$path-image}#{'delete.svg'};
$edit: #{$path-image}#{'edit.svg'};
$go-back: #{$path-image}#{'go-back.svg'};
$light-mode: #{$path-image}#{'light-mode.svg'};
$reset: #{$path-image}#{'reset.svg'};
$three-dots: #{$path-image}#{'three-dots.svg'};
$plus: #{$path-image}#{'plus.svg'};
$warning: #{$path-image}#{'warning.svg'};
$settings: #{$path-image}#{'settings.svg'};
$settings-circle: #{$path-image}#{'settings-circle.svg'};

$chat-bubble-dark: #{$path-image}#{'chat-bubble-dark.svg'};
$check-box-blank-dark: #{$path-image}#{'check-box-blank-dark.svg'};
$check-box-dark: #{$path-image}#{'check-box-dark.svg'};
$check-dark: #{$path-image}#{'check-dark.svg'};
$delete-dark: #{$path-image}#{'delete-dark.svg'};
$edit-dark: #{$path-image}#{'edit-dark.svg'};
$reset-dark: #{$path-image}#{'reset-dark.svg'};
$three-dots-dark: #{$path-image}#{'three-dots-dark.svg'};
$plus-dark: #{$path-image}#{'plus-dark.svg'};
$warning-dark: #{$path-image}#{'warning-dark.svg'};
$settings-dark: #{$path-image}#{'settings-dark.svg'};
$settings-circle-dark: #{$path-image}#{'settings-circle-dark.svg'};
