@import './layouts/header';
@import './layouts/footer';

body {
	width: 320px;
	height: 500px;
	background: #f3f3f3;
}

html {
	background: black;
}

input,
textarea {
	outline: 0;
	border: 0;
	width: 260px;
	font-size: 14px;
	border-radius: 7px;
}

textarea {
	resize: none;
}
