@mixin image($img-path, $width, $height, $display: auto) {
	display: $display;
	background-image: url($img-path);
	background-position: center;
	background-repeat: no-repeat;
	background-size: $width $height;
	width: $width;
	height: $height;
}

@mixin icon($img-path, $width, $height, $margin: auto) {
	@include image($img-path, $width, $height);
	content: '';
	display: inline-block;
	margin: $margin;
}

@mixin shadow {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

@mixin shadow-dark {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

@mixin modal {
	position: fixed;
	width: 320px;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
