@import './reset';
@import './constants';
@import './mixins';
@import './font';
@import './animations';
@import './images';

* {
	box-sizing: border-box;
	font-family: 'SUIT', sans-serif !important;
	font-weight: 400;
	letter-spacing: -0.32px;
	outline: none;
}

@import './layouts';
@import './components';
@import './routes';
