@import './reset';
@import './constants';
@import './mixins';
@import './font';
@import './animations';
@import './images';

* {
	box-sizing: border-box;
	font-family: 'SUIT', sans-serif !important;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.32px;
	outline: none;
}

html {
	background-color: #000; // for test
	width: 320px;
	height: 500px;
}

body {
	height: 100%;
	background-color: $white;

	&.dark-mode {
		background-color: $background-dark;
	}
}

input,
textarea {
	outline: 0;
	border: 1px solid $gray04;
	width: 260px;
	font-size: 14px;
	border-radius: 7px;
	color: $gray01;
}

textarea {
	resize: none;
	overflow: hidden;
	height: 26px;
}

button {
	background-color: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.extra-bold {
	font-weight: 800;
}
@import './layouts';
@import './components';
@import './routes';
