// footer {
// 	height: 60px;
// 	display: flex;

// 	section {
// 		display: flex;
// 		align-items: center;
// 		input {
// 			width: 239px;
// 			height: 43px;
// 		}

// 		button {
// 			width: 43px;
// 			height: 43px;
// 			background: url($reset) no-repeat center;
// 			border-radius: 7px;
// 		}
// 	}
// }

.edit-footer {
	display: none;
	position: fixed;
	top: 440px;
	left: 0;
	right: 0;
	width: 320px;
	align-items: center;
	padding: 0 15px 14.56px;
	gap: 8px;
	z-index: 5;

	.before-save &,
	.edit-mode & {
		display: flex;
		z-index: 3;
	}
}

.edit-footer-space {
	display: none;
	height: 60px;
}
