header {
	align-items: center;
	background: $header-light;
	border-bottom: 1px solid $gray05;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	position: relative;

	.toggle-mode {
		background-color: $red;
		background-image: url($light-mode);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20px 20px;

		border: 1px solid $gray05;
		border-radius: 50%;

		position: absolute;
		right: 27px;
		bottom: 0;

		transform: translateY(20px);
		height: 39px;
		width: 39px;

		z-index: 1;
	}
}

.main-header {
	color: $gray03;
	padding: 18px 23px 16px 25px;

	&-left {
		flex-grow: 1;
	}

	&-title {
		color: $primary-light;
		font-size: 22px;
		margin-bottom: 10px;
	}

	.today-date {
		font-size: 12px;
		font-weight: 500;
	}

	.task-count {
		font-size: 12px;
		transform: translateY(-8px);
	}

	.bold {
		font-weight: 700;
	}

	.main-body.dark-mode & {
		background-color: $header-dark;
		border-bottom: 1px solid $gray04;

		&-title {
			color: $primary-dark;
		}

		.toggle-mode {
			background-color: $purple;
			background-image: url($dark-mode);
			border: 1px solid $gray04;
		}
	}
}

.detail-header {
	height: 90px;
	// background: rgba(199, 206, 170, 0.4);
	padding-top: 15px;
	align-items: normal;

	#return {
		height: 60px;
		background-image: url($go-back);
		width: 24px;
		height: 24px;
		display: inline-block;
		cursor: pointer;
	}

	#title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 267px;
		height: 60px;
		// background: rgba(86, 199, 111, 0.4);

		#mail-title {
			input {
				display: none;
				font-size: 18px;
				font-weight: bold;
				width: 267px;
			}

			h1 {
				// height: 100%;
				font-size: 18px;
				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 3px 0;
			}
		}

		#mail-disc {
			// background: rgba(86, 107, 199, 0.4);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 30px;

			p {
				font-size: 12px;
			}
		}
	}

	#mail-setting {
		width: 20px;
		align-self: baseline;
		// background: rgba(86, 107, 199, 0.4);

		button {
			display: block;
			border: 0;
			cursor: pointer;
			padding: 12px 5px;
			width: 1px;
			height: 12px;
			background: url($three-dots) no-repeat center;

			.before-save & {
				display: none;
			}
		}
	}

	.edit-mode & {
		#mail-setting button {
			display: none;
		}
	}

	#detail-body.dark-mode & {
		background-color: $header-dark;
		border-bottom: 1px solid $gray04;

		#mail-title {
			color: $primary-dark;
			input {
				color: $primary-dark;
				background-color: $background-dark;
				border: 1px solid $gray04;
			}
		}

		#mail-disc {
			color: $gray04;
		}

		.toggle-mode {
			background-color: $purple;
			background-image: url($dark-mode);
			border: 1px solid $gray04;
		}
	}
}

#detail-body.edit-mode .detail-header #title #mail-title {
	input {
		display: block;
	}

	h1 {
		display: none;
	}
}
