header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: gold;
	padding: 5px;
	#title {
		// background: tomato;
	}

	#header-side {
		// background: cornflowerblue;
	}
}
