#detail-body {
	header {
		height: 90px;
		// background: rgba(199, 206, 170, 0.4);
		padding-top: 15px;
		align-items: normal;
		> * {
			border: 0;
			outline: 0;
		}
		#return {
			height: 60px;
			background-image: url($go-back);
			width: 24px;
			height: 24px;
			display: inline-block;
			cursor: pointer;
		}
		#title {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 267px;
			height: 60px;
			// background: rgba(86, 199, 111, 0.4);

			#mail-title {
				input {
					display: none;
					font-size: 18px;
					font-weight: bold;
					width: 267px;
				}

				h1 {
					// height: 100%;
					font-size: 18px;
					font-weight: bold;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding: 3px 0;
				}
			}

			#mail-disc {
				// background: rgba(86, 107, 199, 0.4);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 30px;

				p {
					font-size: 12px;
				}
			}
		}

		#mail-setting {
			width: 20px;
			align-self: baseline;
			// background: rgba(86, 107, 199, 0.4);

			button {
				border: 0;
				cursor: pointer;
				padding: 12px 5px;
				width: 1px;
				height: 12px;
				background: url($three-dots) no-repeat center;

				&.before-save {
					display: none;
				}
			}
		}
	}

	#content {
		padding: 10px 20px;
		height: calc(100% - 90px);
		overflow-y: auto;
		// background-color: gold;

		section {
			margin-top: 15px;
			h2 {
				margin-bottom: 10px;
			}
		}

		#summary {
			h2 {
				display: flex;

				span {
					display: inline-block;
					margin-right: 5.58px;
					width: 16.74px;
					height: 18px;
					background: url($chat-bubble);
				}
			}
			.summary-content {
				textarea {
					display: none;
					width: 279px;
					height: 100px;
				}
				p {
					width: 279px;
				}
			}
		}

		#check-list {
			h2 {
				display: flex;

				span {
					display: inline-block;
					margin-right: 2px;
					margin-top: -2px;
					width: 18px;
					height: 18px;
					background: url($check);
				}
			}

			ul {
				li {
					margin-bottom: 6px;
					display: flex;
					justify-content: space-between;

					.checkbox {
						background: url($check-box-blank) no-repeat center;
						width: 12.43px;
						height: 12px;
						display: inline-block;
						padding: 7px 0;
					}
					.checkbox-content {
						width: 260px;
						textarea {
							display: none;
							width: 230.04px;
							margin: 0 auto;
						}

						p {
						}
					}

					.delete-button {
						display: none;
						margin-top: 3px;
						width: 20px;
						height: 20px;
						background: url($delete);
					}
					&.checked {
						.checkbox {
							background: url($check-box) no-repeat center;
						}
						p {
							text-decoration: line-through;
						}
					}
					.add-list {
						display: none;
						width: 230.04px;
						height: 26px;
						margin-left: 21px;
						border: 1px solid $gray04;
						border-radius: 7px;
						background: url($plus) no-repeat center;
					}
				}
			}
		}
	}
	&.edit-mode {
		header {
			#title #mail-title {
				input {
					display: block;
				}
				h1 {
					display: none;
				}
			}
			#mail-setting button {
				display: none;
			}
		}

		#content {
			#summary {
				p {
					display: none;
				}
				textarea {
					display: block;
				}
			}

			#check-list ul li {
				.checkbox {
					margin-top: 3px;
				}

				p {
					display: none;
				}

				textarea {
					display: block;
				}

				.delete-button {
					display: block;
				}

				.add-list {
					display: block;
				}
			}
		}
		// 	&-first {
		// 		header {
		// 			#mail-setting {
		// 				display: block;
		// 			}
		// 		}
		// 	}
	}
	#warning {
		position: absolute;
		top: 76px;
		left: 16px;
		display: none;
		justify-content: center;
		align-items: center;
		width: 289px;
		height: 91px;
		background: $alert;
		border-radius: 7px;

		&.active {
			display: flex;
		}

		&-message {
			text-align: center;
			color: $white;
			font-size: 14px;
			font-weight: bold;
			user-select: none;
			line-height: 24px;
		}
	}
}
