#detail-body {
	#content {
		padding: 10px 20px;
		height: calc(100% - 90px);
		color: $gray01;
		overflow-y: auto;

		section {
			margin-top: 15px;
			h2 {
				margin-bottom: 10px;
			}
		}

		p {
			cursor: default;
			line-height: 24px;
		}

		#summary {
			margin-bottom: 26px;

			h2 {
				display: flex;

				span {
					display: inline-block;
					margin-right: 5.58px;
					width: 16.74px;
					height: 18px;
					background: url($chat-bubble) no-repeat center;
				}
			}
			.summary-content {
				textarea {
					display: none;
					width: 279px;
					height: 100px;
					padding: 8px;
				}

				p {
					width: 279px;
				}

				.no-content {
					display: none;
					height: 50px;
					line-height: 50px;
					text-align: center;
				}
			}
		}

		#check-list {
			p {
				cursor: pointer;
			}

			h2 {
				display: flex;

				span {
					display: inline-block;
					margin-right: 2px;
					margin-top: -2px;
					width: 18px;
					height: 18px;
					background: url($check) no-repeat center;
				}
			}

			ul {
				li {
					margin-bottom: 6px;
					display: flex;
					justify-content: space-between;

					.checkbox {
						display: inline-block;
						align-self: center;
						padding: 7px 0;
						width: 12.43px;
						height: 12px;
						background: url($check-box-blank) no-repeat center;
					}

					&.checked {
						.checkbox {
							background: url($check-box) no-repeat center;
						}
						p {
							color: $gray03;
							text-decoration: line-through;
						}
					}

					&.delete {
						display: none;
					}

					.check-list-content {
						width: 260px;
						textarea {
							display: none;
							width: 230.04px;
							margin: 0 auto;
							padding: 4px 8px;
						}
					}

					.delete-button {
						display: none;
						align-self: center;
						width: 20px;
						height: 20px;
						mask-image: url($delete);
						background-color: $red;
					}

					.add-button {
						display: none;
						width: 230.04px;
						height: 26px;
						margin-left: 21px;
						border: 1px solid $gray04;
						border-radius: 7px;
						background: url($plus) no-repeat center;
					}
				}
			}
		}
	}
	&.edit-mode {
		#content {
			#summary {
				p {
					display: none;
				}
				textarea {
					display: block;
				}
			}

			#check-list {
				margin-bottom: 70px;

				ul li {
					width: 280px;

					.checkbox {
						cursor: default;
					}

					p {
						display: none;
					}

					textarea {
						display: block;
					}

					.delete-button {
						display: block;
					}

					.add-button {
						display: block;
					}
				}
			}
		}
	}

	#warning {
		position: absolute;
		top: 76px;
		left: 16px;
		display: none;
		justify-content: center;
		align-items: center;
		width: 289px;
		height: 91px;
		background: $alert;
		border-radius: 7px;

		&.active {
			display: flex;
		}

		&-message {
			text-align: center;
			color: $white;
			font-size: 14px;
			font-weight: bold;
			user-select: none;
			line-height: 24px;
		}
	}

	&.dark-mode {
		background: $background-dark;
		color: $white;

		textarea {
			background-color: $background-dark;
			border: 1px solid $gray04;
			color: $white;
		}

		#content {
			#summary {
				color: $white;

				h2 {
					span {
						background-image: url($chat-bubble-dark);
					}
				}
			}

			#check-list {
				color: $white;

				h2 span {
					background-image: url($check-dark);
				}

				ul li {
					.checkbox {
						background-image: url($check-box-blank-dark);
					}

					&.checked .checkbox {
						background-image: url($check-box-dark);
					}

					.delete-button {
						background-color: $yellow;
					}

					.add-button {
						background-image: url($plus-dark);
					}
				}
			}
		}
	}
	// <element id="detail-body">
	//   <element id="content">
	// 	  <element id="summary">
	// 		  <element class="summary-content">
	// 			  <element class="no-content"

	&.no-summary #content #summary .summary-content .no-content {
		display: block;
	}

	&.no-check-list #check-list {
		display: none;
	}
}
